.addRowWrap--23EvB {
    display: flex;
    justify-content: center;
}
.addRowWrap--23EvB button {
    margin: 15px 0;
    padding: 10px 15px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(13, 51, 51);
    color: #ffff;
    font-size: 18px;
    line-height: 20px;
    cursor:pointer;
}
.addRowWrap--23EvB button:hover {
    background-color: rgb(24, 87, 87);
}
.matrixCeil--3qabq {
    width:45px;
    height: 55px;
    margin:1px;
    padding: 0 10px;
    border: 1px solid rgb(255,255,255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.3rem;
    color: rgb(80,80,80);
}
.matrixCeil--3qabq.part--2y33u {
    color: rgb(20,20,20);
    position: relative;
    z-index: 2;
}
.matrixCeil--3qabq.part--2y33u div:last-child {
    position:absolute;
    bottom: 0;
    width:100%;
    background-color:  rgba(80,80,80, 0.6);
}
.bright--JZRK1 {
    background-color: rgb(80,80,80);
    color: rgb(255,255,255)
}

.footer--3BAP2 {
    background-color: rgb(255,255,255);
    color: rgb(80, 80, 80);
    border-color: rgb(80, 80, 80);
}
.matrixRow--39Z-D {
    display:flex;
    justify-content: center;
}
.matrixRow--39Z-D:last-child {
    margin-top:10px;
}

.matrixCeil--2rmM2 {
    width:45px;
    height: 55px;
    margin:1px;
    padding: 0 10px;
    border: 1px solid rgb(255,255,255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.3rem;
    color: rgb(80,80,80);
}

.sum--oxa6f {
    min-width:80px;
    color:rgb(255,255,255);
    background-color: rgb(55,202,139);
}

.sidebarRow--Be181 {
    width:80px;
    background-color: rgb(55,202,139);
}
.sidebarRow--Be181 button {
    width:60%;
    height: 70%;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border:none;
}
.sidebarRow--Be181 button:hover {
    background-color: rgb(136, 4, 11);
}
.matrixRow--39Z-D:last-child .sidebarRow--Be181:after {
    content:'Середнє стовпця';
    font-size: 16px;
    width:100%;
}
.container--2h9oB {
    overflow: auto;
}
.matrixWrap--eJwd- {
    max-width:100%;
    display:flex;
    padding: 15px 0;
	justify-content: space-between;
}
.matrixContent--2Qqqb {
    border: 1px solid rgb(24, 1, 1);
    border-radius: 10px;
    padding: 5px;
    margin-left: 20px;
    background-color: rgb(80,227,164);
    display:flex;
    flex-direction: column;
	justify-content: center;
}
.matrixHeader--3ud2A {
    align-self: flex-end;
    min-width:100px;
    color:rgb(255,255,255);
    padding: 5px;
    font-size: 18px;
}
.form_params--uHnqb {
    text-align: center;
    margin: 100px auto;
}
.inputField--2oikH {
    margin: 15px 0;
}
.inputField--2oikH  input {
    padding: 10px 20px;
}
.form_params--uHnqb button {
    margin: 15px 0;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: white;
}
